---
---

@import "{{ site.theme }}";

.inner {
  max-width: 800px;
  position: relative;
  padding: 20px 10px;
  margin: 0 auto;
}

.gallery-images {
  margin-top: 30px;
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
}

.gallery-image {
  width: 98%;
}

.repo-name {
  margin: 0px;
}

.about-repo-container {
  padding: 10px;
}

.main-content hr {
  margin: 2rem auto;
}

li:before {
  display: none;
}
